@{
    ViewData["Title"] = "Car parts";
}

<div class="background-image">
</div>

<h1 class="text-center pt-5 px-5">@ViewData["Title"]</h1>

<h2 class="text-center p-5">If you require any help or have any queries, please use the contact form below</h2>

<div class="container text-center">
    <div class="col-12">
        <h3>Why choose our services?</h3>
    </div>
    <div class="d-flex flex-column flex-sm-row flex-lg-row flex-xl-row justify-content-between py-5 gap-5 align-content-center mot-service-homepage">
        <img class="car-part-image" src="css/disc-brakes.jpeg" alt="disc brakes">
        <div>
            <h2>Our Advantages</h2>
            <p>We offer a full range of garage services for vehicle owners in Nowy Sącz.
                Our specialists know how to take care of any problem, whether it's a passenger car or a mid-size truck or SUV.</p>
        </div>
    </div>
    <div class="d-flex flex-column flex-sm-row flex-lg-row flex-xl-row justify-content-between py-5 gap-5 align-content-center tyres-service-homepage pb-5">
        <img class="car-part-image" src="css/tyres.png" alt="tyres service">
        <div>
            <ul>
                <li>Over 900 five-star reviews</li>
                <li>Free diagnosis</li>
                <li>2 years warranty</li>
                <li>15 years of experience</li>
            </ul>
        </div>
    </div>
    <div class="d-flex flex-column flex-sm-row flex-lg-row flex-xl-row justify-content-between py-5 gap-5 align-content-center mot-service-homepage">
        <img class="car-part-image" src="css/fuel-filter.jpeg" alt="fuel filter">
        <div>
            <h2>Our Advantages</h2>
            <p>We offer a full range of garage services for vehicle owners in Nowy Sącz.
                Our specialists know how to take care of any problem, whether it's a passenger car or a mid-size truck or SUV.</p>
        </div>
    </div>
    <div class="d-flex flex-column flex-sm-row flex-lg-row flex-xl-row justify-content-between py-5 gap-5 align-content-center tyres-service-homepage pb-5">
        <img class="car-part-image" src="css/gettyimages-adding-engine-oil.jpeg" alt="engine oil">
        <div>
            <ul>
                <li>Over 900 five-star reviews</li>
                <li>Free diagnosis</li>
                <li>2 years warranty</li>
                <li>15 years of experience</li>
            </ul>
        </div>
    </div>
</div>