@{
    ViewData["Title"] = "Car parts";
}

<div class="background-image">
</div>

<h1 class="text-center pt-5 px-5">@ViewData["Title"]</h1>

<div class="container text-center">
    <div class="col-12">
        <h2 class="text-center py-5">Use this page to buy any required parts for MOT service</h2>
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col mx-5 pb-5">
                <img class="car-part-image" src="~/css/brakes1.jpeg" alt="disc brakes">
                <div>
                    <h4 class="text-start py-3 m-0">Disc brake</h4>
                    <p class="text-start mb-0">Disc brake for a car. Add if brakes test failed during MOT service and brakes are required to be repaired.</p>
                    <div class="quantity-elem d-flex justify-content-around">
                        <h5 class="quantity text-start pt-1 pb-3">Quantity</h5>
                        <div class="quantity-btn d-flex justify-content-between">
                            <button class="quantity-btn-style">+</button>
                            <p class="quantity-btn-style-p">1</p>
                            <button class="quantity-btn-style">-</button>
                        </div>
                    </div>
                    <button class="add-btn">Add</button>
                </div>
            </div>
            <div class="col mx-5 pb-5">
                <img class="car-part-image" src="~/css/tyres1.png" alt="tyres service">
                <div>
                    <h4 class="text-start py-3 m-0">Tyre</h4>
                    <p class="text-start">High quality tyre for a car. Add if tyres condition test failed during MOT service and brakes are required to be repaired.</p>
                    <div class="quantity-elem d-flex justify-content-around">
                        <h5 class="quantity text-start pt-1 pb-3">Quantity</h5>
                        <div class="quantity-btn d-flex justify-content-between">
                            <button class="quantity-btn-style">+</button>
                            <p class="quantity-btn-style-p">1</p>
                            <button class="quantity-btn-style">-</button>
                        </div>
                    </div>
                    <button class="add-btn">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col mx-5 pb-5">
                <img class="car-part-image" src="~/css/fuelFilter1.jpeg" alt="fuel filter">
                <div>
                    <h4 class="text-start py-3 m-0">Fuel filter</h4>
                    <p class="text-start">Fuel filter for a car. Add if fuel filters test failed during MOT service and brakes are required to be repaired.</p>
                    <div class="quantity-elem d-flex justify-content-around">
                        <h5 class="quantity text-start pt-1 pb-3">Quantity</h5>
                        <div class="quantity-btn d-flex justify-content-between">
                            <button class="quantity-btn-style">+</button>
                            <p class="quantity-btn-style-p">1</p>
                            <button class="quantity-btn-style">-</button>
                        </div>
                    </div>
                    <button class="add-btn">Add</button>
                </div>
            </div>
            <div class="col mx-5 pb-5">
                <img class="car-part-image" src="~/css/oilFilter1.jpeg" alt="engine oil">
                <div>
                    <h4 class="text-start py-3 m-0">Oil filter</h4>
                    <p class="text-start">Oil filter for a car. Add if oil filters test failed during MOT service and brakes are required to be repaired.</p>
                    <div class="quantity-elem d-flex justify-content-around">
                        <h5 class="quantity text-start pt-1 pb-3">Quantity</h5>
                        <div class="quantity-btn d-flex justify-content-between">
                            <button class="quantity-btn-style">+</button>
                            <p class="quantity-btn-style-p">1</p>
                            <button class="quantity-btn-style">-</button>
                        </div>
                    </div>
                    <button class="add-btn">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>