@{
    ViewData["Title"] = "Auto Serwis Online";
}

<div class="align-content-center pb-5">
    <div class="background-image">
    </div>
    
    <h3 class="welcome text-center px-5 p-5">Welcome to the Intranet homepage</h3>
</div>