@{
    ViewData["Title"] = "Login";
}

<div class="background-image">
</div>

<h1 class="text-center pt-5 px-5">@ViewData["Title"]</h1>

<h2 class="text-center p-5">If you require any help or have any queries, please use the contact form below</h2>

<form action="POST" class="website-forms">
    <input type="text" id="username" class="form-input-login" placeholder="Username (required)" required="required">
    <input type="text" id="password" class="form-input-login" placeholder="Password (required)" required="required">
    <button class="btn-login">Log in</button>
</form>