@{
    ViewData["Title"] = "Log out";
}

<div class="align-content-center pb-5">
    <div class="background-image">
    </div>
    
    <h3 class="welcome text-center px-5 p-5">You have been logged out successfully</h3>
</div>