@{
    ViewData["Title"] = "Terms & Conditions";
}
<h1 class="pt-5 px-5">@ViewData["Title"]</h1>

<div _ngcontent-c13="" class="boiler p-5" id="boiler">

        <h2 _ngcontent-c32="">Application and Entire Agreement</h2>

        <ol _ngcontent-c32="" class="clauses firstList">
            <li _ngcontent-c32="">These Terms and Conditions apply to the provision of the services detailed in our quotation (<b _ngcontent-c32="">Services</b>) by <!----><span _ngcontent-c32="" rl-text="6743879c-82fc-459d-8eda-2ba554f96dff"> <span _ngcontent-c32="" class="boiler-field">Auto Serwis Online</span> a company registered in <!----><!----><span _ngcontent-c32="" rl-text="content2">Scotland</span> under number <span _ngcontent-c32="" class="boiler-field">123456789</span> whose registered office is at <span _ngcontent-c32="" class="boiler-field">Samochodowa 9</span>,<!----><span _ngcontent-c32="" rl-text="c403b105-5b46-48b3-99a9-aa8f00e5217b"> <span _ngcontent-c32="" class="boiler-field">Nowy Sacz</span>,</span><!----> <span _ngcontent-c32="" class="boiler-field">12-345</span> </span><!----><!----><!----> (<b _ngcontent-c32="">we</b> or <b _ngcontent-c32="">us </b>or <strong _ngcontent-c32="">Service Provider</strong>) to the person buying the services (<b _ngcontent-c32="">you </b>or <strong _ngcontent-c32="">Customer</strong>).</li>
            <li _ngcontent-c32="">You are deemed to have accepted these Terms and Conditions when you accept our quotation or from the date of any performance of the Services (whichever happens earlier) and these Terms and Conditions and our quotation (<b _ngcontent-c32="">the Contract</b>) are the entire agreement between us.</li>
            <li _ngcontent-c32="">You acknowledge that you have not relied on any statement, promise or representation made or given by or on our behalf. These Conditions apply to the Contract to the exclusion of any other terms that you try to impose or incorporate, or which are implied by trade, custom, practice or course of dealing.</li>
        </ol>

        <h2 _ngcontent-c32="">Interpretation</h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">A "business day" means any day other than a Saturday, Sunday or bank holiday in <!----><!----><span _ngcontent-c32="" rl-text="content4">Scotland</span>.</li>
            <li _ngcontent-c32="">The headings in these Terms and Conditions are for convenience only and do not affect their interpretation.</li>
            <li _ngcontent-c32="">Words imparting the singular number shall include the plural and vice-versa.</li>
        </ol>

        <h2 _ngcontent-c32="">Services</h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">We warrant that we will use reasonable care and skill in our performance of the Services which will comply with the quotation, including any specification in all material respects. We can make any changes to the Services which are necessary to comply with any applicable law or safety requirement, and we will notify you if this is necessary.</li>
            <li _ngcontent-c32="">We will use our reasonable endeavours to complete the performance of the Services within the time agreed or as set out in the quotation; however, time shall not be of the essence in the performance of our obligations.</li>
            <li _ngcontent-c32="">All of these Terms and Conditions apply to the supply of any goods as well as Services unless we specify otherwise.</li>
        </ol>

        <h2 _ngcontent-c32="">Your Obligations</h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">You must obtain any permissions, consents, licences or otherwise that we need and must give us with access to any and all relevant information, materials, properties and any other matters which we need to provide the Services.</li>
            <li _ngcontent-c32="">If you do not comply with clause 10, we can terminate the Services.</li>
            <li _ngcontent-c32="">We are not liable for any delay or failure to provide the Services if this is caused by your failure to comply with the provisions of this section (<b _ngcontent-c32="">Your obligations</b>).</li>
        </ol>

        <h2 _ngcontent-c32="">Fees <!----></h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">The fees (<b _ngcontent-c32="">Fees</b>) for the Services are set out in the quotation and are on a time and materials basis.</li>
            <li _ngcontent-c32="">In addition to the Fees, we can recover from you a) reasonable incidental expenses including, but not limited to, travelling expenses, hotel costs, subsistence and any associated expenses, b) the cost of services provided by third parties and required by us for the performance of the Services, and c) the cost of any materials required for the provision of the Services.</li>
            <li _ngcontent-c32="">You must pay us for any additional services provided by us that are not specified in the quotation in accordance with our then current, applicable <!----><span _ngcontent-c32="" rl-text="0226b916-ba5e-4121-99a7-0b17e1685254"> daily </span><!----> rate in effect at the time of performance or such other rate as may be agreed between us. The provisions of clause 14 also apply to these additional services.</li>
            <li _ngcontent-c32="">The Fees are <!----><span _ngcontent-c32="" rl-text="82e5cd80-50f4-4e9d-900f-e438b626ac8b"> inclusive </span><!----> of any applicable VAT and other taxes or levies which are imposed or charged by any competent authority.</li>
            <!---->
            <!---->
            <!---->
        </ol>

        <h2 _ngcontent-c32="">Cancellation and Amendment</h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">We can withdraw, cancel or amend a quotation if it has not been accepted by you, or if the Services have not started, within a period of <!----><!----><span _ngcontent-c32="" rl-text="c260bb3b-ba9c-48fa-94aa-5c976f20c22d"> <span _ngcontent-c32="" class="boiler-field">2</span> <!----><!----><span _ngcontent-c32="" rl-text="d0f16def-db2d-4f72-920b-8564b6cc8690"> days</span> </span> from the date of the quotation, (unless the quotation has been withdrawn).</li>
            <li _ngcontent-c32="">Either we or you can cancel an order for any reason prior to your acceptance (or rejection) of the quotation.</li>
            <li _ngcontent-c32="">If you want to amend any details of the Services you must tell us in writing as soon as possible. We will use reasonable endeavours to make any required changes and additional costs will be included in the Fees and invoiced to you.</li>
            <li _ngcontent-c32="">If, due to circumstances beyond our control, including those set out in the clause below (<b _ngcontent-c32="">Circumstances beyond a party's control</b>), we have to make any change in the Services or how they are provided, we will notify you immediately. We will use reasonable endeavours to keep any such changes to a minimum.</li>
        </ol>

        <h2 _ngcontent-c32="">Payment</h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">We will invoice you for payment of the Fees either:
                <ol _ngcontent-c32="">
                    <li _ngcontent-c32="">when we have completed the Services; or</li>
                    <li _ngcontent-c32="">on the invoice dates set out in the quotation.</li>
                </ol>
            </li>
            <li _ngcontent-c32="">You must pay the Fees due within <!----><!----><span _ngcontent-c32="" rl-text="d7c6edc9-ecdd-4c05-a9af-b1aedc0e78f9"> <span _ngcontent-c32="" class="boiler-field">7</span> <!----><!----><span _ngcontent-c32="" rl-text="9d1683c6-cdac-40ea-bf81-d4f3426e97e4"> days</span> </span> of the date of our invoice or otherwise in accordance with any credit terms agreed between us.</li>
            <li _ngcontent-c32="">Time for payment shall be of the essence of the Contract.</li>
            <li _ngcontent-c32="">Without limiting any other right or remedy we have for statutory interest, if you do not pay within the period set out above, we will charge you interest at the rate of <span _ngcontent-c32="" class="boiler-field">1</span>% per annum above the base lending rate of the Bank of England from time to time on the amount outstanding until payment is received in full.</li>
            <li _ngcontent-c32="">All payments due under these Terms and Conditions must be made in full without any deduction or withholding except as required by law and neither of us can assert any credit, set-off or counterclaim against the other in order to justify withholding payment of any such amount in whole or in part.</li>
            <li _ngcontent-c32="">If you do not pay within the period set out above, we can suspend any further provision of the Services and cancel any future services which have been ordered by, or otherwise arranged with, you.</li>
            <li _ngcontent-c32="">Receipts for payment will be issued by us only at your request.</li>
            <li _ngcontent-c32="">All payments must be made in <!----><!----><span _ngcontent-c32="" rl-text="f33fd27c-02d7-4252-bfff-98213b52cc14"><span _ngcontent-c32="" class="boiler-field">Polish zloty</span></span> unless otherwise agreed in writing between us.</li>
        </ol>

        <h2 _ngcontent-c32="">Sub-contracting and Assignment</h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">We can at any time assign, transfer, charge, subcontract or deal in any other manner with all or any of our rights under these Terms and Conditions and can subcontract or delegate in any manner any or all of our obligations to any third party.</li>
            <li _ngcontent-c32="">You must not, without our prior written consent, assign, transfer, charge, subcontract or deal in any other manner with all or any of your rights or obligations under these Terms and Conditions.</li>
        </ol>

        <h2 _ngcontent-c32="">Termination</h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">We can terminate the provision of the Services immediately if you:
                <ol _ngcontent-c32="">
                    <li _ngcontent-c32="">commit a material breach of your obligations under these Terms and Conditions; or</li>
                    <li _ngcontent-c32="">fail to make pay any amount due under the Contract on the due date for payment; or</li>
                    <li _ngcontent-c32="">are or become or, in our reasonable opinion, are about to become, the subject of a bankruptcy order or take advantage of any other statutory provision for the relief of insolvent debtor; or</li>
                    <li _ngcontent-c32="">enter into a voluntary arrangement under <span _ngcontent-c32="">Part 1 of the Insolvency Act 1986</span>, or any other scheme or arrangement is made with its creditors; or</li>
                    <li _ngcontent-c32="">convene any meeting of your creditors, enter into voluntary or compulsory liquidation, have a receiver, manager, administrator or administrative receiver appointed in respect of your assets or undertakings or any part of them, any documents are filed with the court for the appointment of an administrator in respect of you, notice of intention to appoint an administrator is given by you or any of your directors or by a qualifying floating charge holder<span _ngcontent-c32=""> (as defined in para. 14 of Schedule B1 of the Insolvency Act 1986)</span>, a resolution is passed or petition presented to any court for your winding up or for the granting of an administration order in respect of you, or any proceedings are commenced relating to your insolvency or possible insolvency.</li>
                </ol>
            </li>
        </ol>

        <h2 _ngcontent-c32="">Intellectual Property</h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">We reserve all copyright and any other intellectual property rights which may subsist in any goods supplied in connection with the provision of the Services. We reserve the right to take any appropriate action to restrain or prevent the infringement of such intellectual property rights.</li>
        </ol>

        <h2 _ngcontent-c32="">Liability and Indemnity</h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">Our liability under these Terms and Conditions, and in breach of statutory duty, and in tort or misrepresentation or otherwise, shall be limited as set out in this section.</li>
            <li _ngcontent-c32="">The total amount of our liability is limited to the total amount of Fees payable by you under the Contract.</li>
            <li _ngcontent-c32="">We are not liable (whether caused by our employees, agents or otherwise) in connection with our provision of the Services or the performance of any of our other obligations under these Terms and Conditions or the quotation for:
                <ol _ngcontent-c32="">
                    <li _ngcontent-c32="">any indirect, special or consequential loss, damage, costs, or expenses or;</li>
                    <li _ngcontent-c32="">any loss of profits; loss of anticipated profits; loss of business; loss of data; loss of reputation or goodwill; business interruption; or, other third party claims; or</li>
                    <li _ngcontent-c32="">any failure to perform any of our obligations if such delay or failure is due to any cause beyond our reasonable control; or</li>
                    <li _ngcontent-c32="">any losses caused directly or indirectly by any failure or your breach in relation to your obligations; or</li>
                    <li _ngcontent-c32="">any losses arising directly or indirectly from the choice of Services and how they will meet your requirements or your use of the Services or any goods supplied in connection with the Services.</li>
                </ol>
            </li>
            <li _ngcontent-c32="">You must indemnify us against all damages, costs, claims and expenses suffered by us arising from any loss or damage to any equipment (including that belonging to third parties) caused by you or your agents or employees.</li>
            <li _ngcontent-c32="">Nothing in these Terms and Conditions shall limit or exclude our liability for death or personal injury caused by our negligence, or for any fraudulent misrepresentation, or for any other matters for which it would be unlawful to exclude or limit liability.</li>
        </ol>

        <h2 _ngcontent-c32="">Data Protection</h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">When supplying the Services to the Customer, the Service Provider may gain access to and/or acquire the ability to transfer, store or process personal data of employees of the Customer.</li>
            <li _ngcontent-c32="">The parties agree that where such processing of personal data takes place, the Customer shall be the 'data controller' and the Service Provider shall be the 'data processor' as defined in the General Data Protection Regulation (<b _ngcontent-c32="">GDPR</b>) as may be amended, extended and/or re-enacted from time to time.</li>
            <li _ngcontent-c32="">For the avoidance of doubt, 'Personal Data', 'Processing', 'Data Controller', 'Data Processor' and 'Data Subject' shall have the same meaning as in the GDPR.</li>
            <li _ngcontent-c32="">The Service Provider shall only Process Personal Data to the extent reasonably required to enable it to supply the Services as mentioned in these Terms and Conditions or as requested by and agreed with the Customer, shall not retain any Personal Data longer than necessary for the Processing and refrain from Processing any Personal Data for its own or for any third party's purposes.</li>
            <li _ngcontent-c32="">The Service Provider shall not disclose Personal Data to any third parties other than employees, directors, agents, sub-contractors or advisors on a strict 'need-to-know' basis and only under the same (or more extensive) conditions as set out in these Terms and Conditions or to the extent required by applicable legislation and/or regulations.</li>
            <li _ngcontent-c32="">The Service Provider shall implement and maintain technical and organisational security measures as are required to protect Personal Data Processed by the Service Provider on behalf of the Customer.</li>
            <li _ngcontent-c32="">Further information about the Service Provider's approach to data protection are specified in its Data Protection Policy, which can be found <span _ngcontent-c32="" class="boiler-field">on our website</span>. For any enquiries or complaints regarding data privacy, you can&nbsp;email: <span _ngcontent-c32="" class="boiler-field">info@aso.com</span>.</li>
        </ol>

        <h2 _ngcontent-c32="">Circumstances Beyond a Party's Control</h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">Neither of us is liable for any failure or delay in performing our obligations where such failure or delay results from any cause that is beyond the reasonable control of that party. Such causes include, but are not limited to:&nbsp;industrial action, civil unrest, fire, flood, storms, earthquakes, acts of terrorism, acts of war, governmental action or any other event that is beyond the control of the party in question. If the delay continues for a period of 90 days, either of us may terminate or cancel the Services to be carried out under these Terms and Conditions.</li>
        </ol>

        <h2 _ngcontent-c32="">Communications</h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">All notices under these Terms and Conditions must be in writing and signed by, or on behalf of, the party giving notice (or a duly authorised officer of that party).</li>
            <li _ngcontent-c32="">Notices shall be deemed to have been duly given:
                <ol _ngcontent-c32="">
                    <li _ngcontent-c32="">when delivered, if delivered by courier or other messenger (including registered mail) during the normal business hours of the recipient;</li>
                    <li _ngcontent-c32="">when sent, if transmitted by fax or email and a successful transmission report or return receipt is generated;</li>
                    <li _ngcontent-c32="">on the fifth business day following mailing, if mailed by national ordinary mail; or</li>
                    <li _ngcontent-c32="">on the tenth business day following mailing, if mailed by airmail.</li>
                </ol>
            </li>
            <li _ngcontent-c32="">All notices under these Terms and Conditions must be addressed to the most recent address, email address or fax number notified to the other party.</li>
        </ol>

        <h2 _ngcontent-c32="">No waiver</h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">No delay, act or omission by a party in exercising any right or remedy will be deemed a waiver of that, or any other, right or remedy nor stop further exercise of any other right, or remedy.</li>
        </ol>

        <h2 _ngcontent-c32="">Severance</h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">If one or more of these Terms and Conditions is found to be unlawful, invalid or otherwise unenforceable, that / those provisions will be deemed severed from the remainder of these Terms and Conditions (which will remain valid and enforceable).</li>
        </ol>

        <h2 _ngcontent-c32="">Law and Jurisdiction</h2>

        <ol _ngcontent-c32="" class="clauses">
            <li _ngcontent-c32="">These&nbsp;Terms and Conditions shall be governed by and interpreted according to the law of <!----><!----><span _ngcontent-c32="" rl-text="content9">Scotland</span> and all disputes arising under the Terms and Conditions (including non-contractual disputes or claims) shall be subject to the exclusive jurisdiction of the <!----><!----><span _ngcontent-c32="" rl-text="content11">Scottish</span> courts.</li>
        </ol>
</div>